mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1e1e2f;
  color: #f4f4f9;
}

h1 {
  text-align: center;
}

mat-dialog-title {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

mat-form-field {
  width: 80%;
  background-color: #282845;
  border-radius: 8px;
}

input {
  color: #f4f4f9;
}

mat-label {
  color: #ff6f61;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  background-color: #ff6f61;
  color: #f4f4f9;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 15px;
}

button:hover {
  background-color: #cc564c;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #ffcc00;
}

